<p>Ask your stupid coach something:</p>

<form action="/answer" method="get" class="form-inline">
  <div class="form-group mb-2 mr-sm-2">
    <input type="text" name="question" class="form-control">
  </div>
  <button type="submit" value="Ask a question" class="btn btn-primary mb-2">Ask</button>
</form>